# Build outputs
build/
out/
x64/
Debug/
Release/

# Visual Studio
.vs/
*.suo
*.user
*.sln.docstates
*.vcxproj.user

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Installer outputs
*.exe

# OS
Thumbs.db
.DS_Store

# Certificate
*.pfx